<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MinskForYou" connectionString="data source=dreamteam.database.windows.net;initial catalog=MinskForYou;user id=adminLord;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>