<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Minsk center
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="~/Content/minsk.png" />
                <br />
                <div class="text-left">
                    The most beautiful plae in the world. This city is famous for his high culture and amazing views.
                    Visit Minsk and you will not sorrow about that. 
                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-footer-details">
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Details &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>